<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffeemeetsbagel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeMeetsBagel">


        <activity android:name=".SignInForRewards"/>
        <activity android:name=".IntoPage3Final" />

        <activity android:name=".IntroPage2" />
        <activity android:name=".IntroStep1" />
        <activity android:name=".TermsAndPrivacy" />

        <activity android:name=".Suggested"/>
        <activity android:name=".Qualification" />
        <activity android:name=".SchoolName" />
        <activity android:name=".JobTitle" />
        <activity android:name=".Religion" />
        <activity android:name=".Ethnicity" />
        <activity android:name=".PreviouslyDated" />

        <activity android:name=".AddLocation" />
        <activity android:name=".BirthdayDate" />
        <activity android:name=".SelectGender" />
        <activity android:name=".SettlePeriod" />

        <activity android:name=".whatareYouLookingFor"/>

        <activity android:name=".uploadPhotoToIntroduce" />
        <activity android:name=".cmbDaters" />

        <activity android:name=".NiceToMeet" />
        <activity android:name=".callUsCMB" />
        <activity android:name=".OtpPage" />
        <activity android:name=".EnterPhoneNoToSignup" />



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>